.ui-button{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    border-radius: 6px;
    border: 2px solid lightgray;
    padding: 5px 10px;
}
.blue-bg{
    background-color: #0bfed7;
    color:#fff;
}
.blue-bg:hover{
    background-color: #0301d7;
    color:#fff;
}